{% extends 'base.html' %}

{% block title %}lista tekstów{% endblock %}

{% block content %}
<div class="container">
  <h2>lista tekstów</h2>

  <!-- przyciski sortowania -->
  <div style="display: flex; gap: 15px; margin-bottom: 15px;">
    <a href="/texts?sort_by=filename&sort_order={{ 'asc' if sort_by != 'filename' or sort_order == 'desc' else 'desc' }}" class="btn">sortuj po numerze tekstu</a>
    <a href="/texts?sort_by=category_sum&sort_order={{ 'asc' if sort_by != 'category_sum' or sort_order == 'desc' else 'desc' }}" class="btn">sortuj po ocenie zgodności</a>
  </div>

  <table border="1" cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th>numer tekstu</th>
        <th>treść</th>
        <th>ocena zgodności</th>
        <th>role semantyczne</th>
      </tr>
    </thead>
    <tbody>
      {% for item in texts %}
      <tr>
        <td>{{ item.filename[:-4] }}</td>
        <td>{{ item.text|safe }}</td>
        <td>{{ "{:.0%}".format([item.category_sum,1]|min) }}</td>
        <td>
          {% for category in item.categories %}
            <div
              style="
                background-color: {{ category_colors[category] }};
                color: {% if category in ['Miejsce', 'Cel'] %}#000{% else %}#fff{% endif %};
                padding: 4px 8px;
                margin-bottom: 4px;
                border-radius: 6px;
                font-weight: bold;
                display: inline-block;
              "
            >
              {{ category }}
            </div>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}